<div class="flex h-hull">
  <main class="flex-1 p-6 bg-white">
    <h2 class="text-2xl font-bold mb-6 text-center">雪山検索</h2>

    <%= form_with url: mountain_path, method: :get, local: true do %>
      <label class="font-bold">エリア名（例: 新潟、白馬）：</label>
      <%= text_field_tag :area, params[:area], class: "border rounded px-2 py-1" %>
      <%= submit_tag "検索", class: "bg-blue-600 text-white rounded px-3 py-1" %>
    <% end %>

    <% if @results.present? %>


      <div id="map" style="height: 400px;" class="my-4"></div>

      <% @results.each do |place| %>
        <div class="border p-2 my-2">
          <strong><%= place.name %></strong><br>
          <%= "住所：#{place.address}" %>
        </div>
      <% end %>
    <% end %>
  </main>
  <% if @search_completed %>
    <%= render "routes/sidebar" %>
  <% end %>
</div>

<% if @lat && @lng %>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap&libraries=places">
  </script>

  <script>
    function initMap() {
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 10,
        center: { lat: <%= @lat %>, lng: <%= @lng %> },
      });

      <% @results.each do |place| %>
        new google.maps.Marker({
          position: {
            lat: <%= place.latitude %>,
            lng: <%= place.longitude %>
          },
          map: map,
          title: "<%= j place.name %>"
        });
      <% end %>
    }
  </script>
<% end %>
