<div class="w-64 bg-orange-300 text-black h-full px-4 py-6 flex flex-col">
  <% if user_signed_in? %>
    <div class="mb-6">
      <div class="flex items-center mb-3">
        <% if current_user.icon_image.attached? %>
          <%= image_tag current_user.icon_image.variant(resize_to_limit: [40, 40]), class: "rounded-full mr-2" %>
        <% else %>
          <%= image_tag "default_icon.png", width: 40, height: 40, class: "rounded-full mr-2" %>
        <% end %>
        <span class="font-semibold"><%= current_user.name %></span>
      </div>
      <nav class="space-y-3">
        <button onclick="document.getElementById('posts-submenu').classList.toggle('hidden')" class="block hover:text-blue-600">
          ・掲示板
        </button>
        <div id="posts-submenu" class="ml-4 space-y-2 hidden text-center">
          <%= link_to "掲示板一覧", posts_path, class: "block hover:text-blue-600" %>
          <%= link_to "掲示板作成", new_post_path, class: "block hover:text-blue-600" %>
          <%#= link_to "ブックマークリスト", bookmarks_path, class: "block hover:text-blue-600" %> <!-- 将来用 -->
        </div>

        <%= link_to "・雪山検索", mountain_path, class: "block hover:text-blue-600" %>
        <%#= link_to "・周辺施設検索", nearby_facilities_path, class: "block hover:text-blue-600" %>
        <%= link_to "・プロフィール", edit_profile_path, class: "block hover:text-blue-600" %>
        <%= link_to "・ログアウト", destroy_user_session_path, method: :delete, class: "block text-red-600 hover:text-red-800", data: { confirm: "本当にログアウトしますか？" }  %>
      </nav>
    </div>
  <% end %>
</div>