<div class="p-6">
  <h1 class="text-5xl font-bold mb-4">アプリの使い方！</h1>

  <ol class="list-decimal pl-6 space-y-2 font-bold text-2xl">
    <li>掲示板で投稿やコメントを作成できます</li>
    <li>気に入った投稿に星マークの「ブックマーク」をつけられます</li>
    <li>雪山検索からスキー場を探せます</li><br>
    <%= image_tag "mount.webp", alt: "雪山", class: "w-full h-auto" %><br>
    <li>雪山検索後に経路も検索できます</li><br>
    <%= image_tag "route.webp", alt: "経路検索", class: "w-full h-auto" %>
    <p>※料金が表示されない場合は詳細な住所を目的地に入れてください</p><br>
    <%= image_tag "address.webp", alt: "住所で検索", class: "w-full h-auto" %><br>
    <%= image_tag "payment.webp", alt: "料金", class: "w-full h-auto" %><br>
    <li>周辺施設検索機能では、レストランやレンタルショップを検索できます</li><br>
    <%= image_tag "facility.webp", alt: "周辺施設", class: "w-full h-auto" %><br>
  </ol>

  <div class="mt-6">
    <%= link_to "トップページへ戻る", root_path, class: "text-blue-600 underline" %>
  </div>
</div>
