<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_importmap_tags %>
    <%= turbo_include_tags %>
  </head>

  <body class="min-h-screen flex flex-col h-screen">
    <%= render "shared/header" %>

    <div class="flex flex-1 overflow-hidden">
      <% if user_signed_in? %>
       <%= render "shared/sidebar" %>
      <% end %>

      <main class="flex-1 overflow-y-auto bg-white relative">
        <%= yield %>
      </main>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>
